@using System;
@using System.Threading.Tasks;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    @if(Song == null)
    {
        <div class="no-package" >
            <h1>No Song Selected</h1>
            <p>Select a song from the list on the left.</p>
        </div>
    }
    else
    {
        <span class="cover">
			<img src=@FindBackgroundImage() />
			@if(Song.Song.AudioFilename.EndsWith(".mp3"))
			{
				<span class="not-supported">
					Cannot load charts that utilize MP3 files at the moment.
				</span>
			}
		</span>
        <div class="song-info">
            <h1>@Song.Song.Name</h1>
            <h2>@Song.Song.Artist</h2>
        </div>
    }
</root>

@code
{

	public Rhythm4KSong Song { get; set; }

	string FindBackgroundImage()
	{
		return Song.CoverArt;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Song?.CoverArt ?? null);
	}
}
